@{
    ViewData["Title"] = "Sobre Nós.";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p> As nossa especialidades são em vendas de equipamentos informáticos, gamming e equipamentos e consumíveis de eletrónica.</p>
