@{
    ViewData["Title"] = "Contactos";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Braga<br />
    Portugal<br />
    <abbr title="Telefone">N:</abbr>
    920.000.000
</address>

<address>
    <strong>Salesweb:</strong> <a href="mailto:salesweb@salesweb.com">salesweb@salesweb.com</a><br />
    <strong>Support</strong> <a href="mailto:suport@salesweb.com">support@salesweb.com</a>
</address>
