@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>This Privacy Policy is intended to help you understand what information we collect, why we collect it, and how you can update, manage, export and delete your information.</p>
